.header {
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 60px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}
